@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
*{
	font-family : "Nanum Gothic";
}
h1{
	font-family : "Hanna";
}
html,body{
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Noto Sans KR', sans-serif;
}

/*예약 날짜,인원 선택 table 내의 input 태그 */
input{
    height:20px;
    width:60%;
    border:none;
    text-align:center;
    font-size:large;
    font-weight:bold;
}

/* 메뉴2 */
#menu2 #roomType, .roomInfo {
	padding: 0 15px;
}
#menu2 #roomType {
	height: 100px;
	font-weight: bold;
	margin: 0 auto;
}

#menu2 #roomType h2 {
	margin: 0 auto;
}
#reservation #menu2 .table {
	border: none;
}
#reservation #menu2 .btn {
	background-color: #ded3c5;
	color: #382f24;
	height: 30px;
}
#reservation #menu2 .btn:hover {
	background-color: #382f24;
	color: white;
}
#reservation #menu2 .table tbody {
	height: 100px;
}
#reservation #menu2 .table tbody #calVal {
	border-bottom: 7px solid #f2f1f0;
}
#reservation #menu2 .table tbody #calVal input {
	margin-top: 30px;
}
#reservation #menu2 .table tfoot tr {
	height: 500px;
	border: none;
}
#reservation #menu2 .table tfoot #noData {
	margin-top: 10%;
    text-align: center; /* 텍스트 가운데 정렬 */
}
#reservation #menu2 .table tfoot #roomList {
	margin-top: 2%;
}

/* 화면 너비가 1024px 이하일 때 (태블릿) */
@media (max-width: 1024px) {
    #menu2 .reserve {
        width: 100%;
    }
}

/* 화면 너비가 768px 이하일 때 (작은 태블릿) */
@media (max-width: 768px) {
    #menu2 {
        padding: 10px;
    }

    #menu2 .reserve {
        width: 100%;
    }
    #menu2 .table thead tr td {
        padding: 5px;
    }
	#menu2 .table tbody tr td {
        padding: 5px;
    }
    #menu2 .table tbody tr td #checkin, #menu2 .table tbody tr td #checkout {
    	width: 60%;
    }
    #menu2 #calVal input {
        width: 100%;
    }

    #menu2 .btn {
        font-size: 0.9rem;
        height: 30px;
    }
}

/* 화면 너비가 480px 이하일 때 (모바일) */
@media (max-width: 480px) {
    #menu2 .table thead tr td {
        padding: 5px;
    }

    #menu2 #calVal input {
        width: 100%;
    }

    #menu2 .btn {
        height: 30px;
    }

    /* 테이블을 세로로 나열 */
    #menu2 .table tbody, #menu2 .table tfoot {
        display: block;
        width: 100%;
    }

    #menu2 .table tbody tr, #menu2 .table tfoot tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    #menu2 .table tbody tr td, #menu2 .table tfoot tr td {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}