<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ifcondition</title>
</head>
<body>
	<h1> if, unless </h1>
	<br/>
	<!-- 아래의 조건문은 age 변수가 19보다 작을 경우에만 "시청 불가"라는 텍스트를 출력합니다. -->
	<h3 th:text="'시청 불가'" th:if="${age < 19}"></h3>
	<!-- 'th:if' 속성을 사용하여 age 변수가 19 미만일 때만 이 h3 태그가 화면에 나타나며, th:text 속성으로 '시청 불가' 텍스트가 설정됩니다. -->
	
	<h3 th:text="'시청 불가'" th:if="${age lt 19}"></h3>
	<!-- 이 줄에서는 th:if 조건에 Thymeleaf의 'lt'를 사용하여 비교합니다.
		lt는 less than(미만)의 약자로, 'age lt 19'는 age 변수가 19 미만인 경우에만 '시청 불가'라는 텍스트가 표시되도록 합니다. -->
	
	<h3 th:text="'시청 가능'" th:unless="${age > 19}"></h3>
	<!-- th:unless 속성은 조건이 참이 아닐 때 요소가 나타나도록 하는 기능입니다.
		여기서는 age 변수가 19보다 크지 않을 때, 즉 19 이하일 때 "시청 가능"이라는 텍스트가 나타납니다. -->
	<!-- unless 거짓일 때 -->
	
	<br/>
	<!-- 'th:if' 속성은 특정 조건이 참일 때만 해당 태그를 렌더링하는데 사용됩니다. -->
	<ul th:if="${movie == '베놈'}">
		<!-- 조건이 참이면 ul 태그가 실행되고, 거짓이면 실행되지 않는다. -->
		<!-- 여기서는 'movie' 변수가 '베놈'일 때에만 아래 목록들이 나타나며, 그렇지 않으면 ul 태그 자체가 렌더링되지 않습니다. -->
		<li>라스트 댄스</li>
		<li>기자 - 에디 브록</li>
		<li>심비오트</li>	
	</ul>
	<br/>
	
	<!-- th:block은 렌더링 시 HTML 코드로 변환되지 않으며, 조건부 렌더링에만 사용됩니다.
		따라서 아래 th:block 요소는 특정 조건을 만족할 때만 내부 내용을 화면에 표시하도록 합니다. -->
	<th:block th:if="${today == '수요일'}">
		<!-- 조건이 참일 때만 아래 태그들이 렌더링됩니다. 'today' 변수가 '수요일'일 경우에만 내부 내용이 표시됩니다. -->
		<h3>수요일에는 빨간 장미를 그대에게 ... </h3>
		<h4>1주일의 가운데 즈음... </h4>
	</th:block> 
</body>
</html>
