<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EL_JSTL</display-name>
  
  <jsp-config>
    <taglib>
      <taglib-uri>tld</taglib-uri>
      <taglib-location>/WEB-INF/elFunc.tld</taglib-location>
    </taglib>
    
     <taglib>
        <taglib-uri>tld2</taglib-uri> 
        <taglib-location>/WEB-INF/elFunc2.tld</taglib-location> 
    </taglib>
  </jsp-config>
	
	<!-- 
        - <taglib> 태그는 JSP 페이지에서 사용자 정의 태그 라이브러리(TLD, Tag Library Descriptor)를 설정하기 위한 태그입니다.
        - JSP에서 사용자 정의 함수나 태그를 사용하기 위해 필요한 설정입니다.
        - 여기서 사용되는 태그 라이브러리는 JSP에서 자주 사용하는 공통적인 기능을 재사용 가능한 태그로 만들어 사용하기 위함입니다.
              
        <taglib-uri>tld</taglib-uri> 
        - 이 부분은 태그 라이브러리를 참조하는 URI를 정의합니다.
        - `tld`는 JSP 페이지에서 사용할 사용자 정의 태그의 URI로, JSP에서 이 URI를 통해 해당 태그를 참조하게 됩니다.
        - 예를 들어, JSP 파일에서 태그 라이브러리를 사용할 때, 다음과 같은 방식으로 선언할 수 있습니다.
          <%@ taglib prefix="tld" uri="tld" %>
        - 이 선언은 "tld"라는 이름으로 태그 라이브러리를 JSP에서 사용할 수 있게 합니다.
              
        <taglib-location>/WEB-INF/elFunc.tld</taglib-location> 
        - 이 부분은 태그 라이브러리 파일(.tld)의 실제 위치를 지정합니다.
        - `/WEB-INF/elFunc.tld`는 해당 태그 라이브러리 파일이 JSP 애플리케이션의 `/WEB-INF` 디렉토리에 있다는 것을 나타냅니다.
        - `elFunc.tld` 파일은 JSP에서 사용할 수 있는 사용자 정의 태그나 함수에 대한 정의가 포함된 파일입니다.
        - 이 파일에는 사용자가 정의한 함수나 태그가 어떤 방식으로 동작하는지에 대한 정보가 기록되어 있습니다.
              
        요약:
        - <jsp-config>는 JSP 페이지에서 필요한 설정 정보를 제공하는 태그입니다.
        - <taglib>는 JSP에서 사용자 정의 태그 라이브러리를 참조하는 데 필요한 설정을 정의합니다.
        - <taglib-uri>는 JSP 페이지에서 사용할 태그 라이브러리를 참조할 때 사용할 URI를 정의합니다.
        - <taglib-location>은 해당 태그 라이브러리 파일이 실제로 어디에 위치하는지에 대한 경로를 명시합니다.
         -->
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>