/* FilmNote/src/main/webapp/css/init.css */
@charset "UTF-8";
/* Google Fonts 링크 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Lora:wght@400;700&family=Oswald:wght@400&family=Playfair+Display:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;		
}

a {
	text-decoration: none;
	color: black;
}