/* FilmNote/src/main/webapp/css/reviewView.css */
@charset "UTF-8";
@import url("init.css");
/* ==================== 영화 정보 ==================== */
#movietitle span {
	width: 100%;
	text-align: center;
	font-size: 50px;
}

#movietitle {
	height: 120px;
	border-bottom: none;
}

table, #reviewList, #post-comment {
	margin: 20px auto;
}

table {
	width: 1020px;
	border-collapse: collapse;
	border-spacing: 0px;
	text-align: center;
}

table tr {
	width: 100%;
}

table th {
	width: 10%;
}

th, td {
	border-bottom: 1px solid #ddd;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
}

.info-cell {
	text-align: left;
}
/* ==================== 영화 정보 ==================== */

/* ==================== 페이징 ==================== */
#page-block {
   margin: 20px auto;
   font-size: 13pt;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

#currentPaging {
   background-color: #e5e7ea;
   border-radius: 5px;
   padding: 5px 8px;
   font-weight: bold;
}

#paging {
   border-radius: 5px;
   padding: 5px 8px;
}
/* ==================== 페이징 ==================== */

/* ==================== 리뷰 컨테이너 ==================== */
#reviewDiv{
	margin-top: 50px;
	padding-bottom: 250px;
	
	border-bottom: 1px solid #ddd;
}

#reviewList {
	margin: 20px 40px;
}

.comment-content {
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
}

/* 댓글 항목 */
.review {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: 10px 0;
}

/* 프로필 사진 */
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

/* 댓글 세부사항 */
.comment-details {
    flex: 1;
    padding: 0 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.list-user-id {
    font-weight: bold;
    font-size: 15px;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.list-content, .update-review {
    margin: 5px 0;
    font-size: 14px;
}

.list-content review-score {
    font-size: 12px;
}

.review-content {
    white-space: pre-line;
    font-size: 15px;
    margin-top: 3px;
}

.comment-actions {
    font-size: 13px;
    color: #005898;
}

.reply, .like {
    cursor: pointer;
    margin-right: 10px;
}

.comment-options {
    position: absolute;
    top: 0;
    right: 0;
}

.options-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.options-menu {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
}

.options-menu span {
    display: block;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    width: 100%;
}

.options-menu span:hover {
    background: #f0f0f0; /* hover 시 배경색 변경 */
}

/* 댓글 작성 폼 */
#post-comment {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.post-header {
    font-weight: bold;
    margin-bottom: 10px;
}

#new-review, .update-reviewText {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1.5);
    margin: 0 5px;
}

.btn {
    background: #005898;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit-review:hover {
    background: #003d6a;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
    gap: 10px;
}

#noReview {
	font-size: 25px;
	margin: 10px 0;
}

#new-score {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column; /* 세로 배치 */
    align-items: flex-end; /* 오른쪽 정렬 */
}

#score-num, #score-star {
    width: 240px;
}

#score-star {
    gap: 5px;
}

#scoreText {
    font-size: 15px;
}

.score {
    font-size: 20px;
}

/* ==================== 댓글 컨테이너 ==================== */

/* ==================== footer ==================== */

#footer {
	margin: 20px 50px;
}

#github {
	width: 180px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

#footer-a {
	display: block;
	width: 180px;
}
#footer-p {
	margin-bottom: 10px;
}

#gitlink {
	line-height: 35px;
	height: 35px;
}
/* ==================== footer ==================== */