/* FilmNote/src/main/webapp/css/userSignUp.css */
@charset "UTF-8";
@import url("init.css");

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.signup-container {
    width: 100%;
    max-width: 800px; /* 최대 너비를 늘려서 가로로 배치 */
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #000000;
}

.signup-container label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

.signup-container input,
.signup-container select {
    width: calc(100% - 20px); /* 패딩을 고려한 너비 */
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 4px;
}

.gender-group,
.birth-group,
.email-group,
.phone-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender-group input,
.birth-group input,
.email-group input,
.phone-group input,
.phone-group select {
    width: calc(33% - 10px); /* 패딩을 고려한 너비 */
}

button {
    width: calc(50% - 10px); /* 패딩을 고려한 너비 */
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

.signup-image {
    display: block;
    margin: 0 auto 20px auto; /* 이미지 아래에 여백 추가 */
    width: 100px;
    height: auto;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group select {
    width: 75%;
}
