/* FilmNote/src/main/webapp/css/userSignIn.css */
@charset "UTF-8";
@import url("init.css");

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.signin-container {
    width: 100%;
    max-width: 400px; /* 최대 너비를 줄여서 중앙에 배치 */
    margin: 50px auto;
    padding: 20px; /* 패딩을 줄여서 더 컴팩트하게 */
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signin-container h2 {
    margin-bottom: 20px;
    color: #000000;
}

.signin-container label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

.signin-container input {
    width: calc(100% - 20px); /* 패딩을 고려한 너비 */
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 4px;
}

button {
    width: calc(50% - 10px); /* 패딩을 고려한 너비 */
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

.signin-image {
    display: block;
    margin: 0 auto 20px auto; /* 이미지 아래에 여백 추가 */
    width: 100px;
    height: auto;
}