/* Movies.module.css */

.container {
    text-align: center;
    font-family: 'Orbitron';
    color: #333;
    padding: 20px;
}

.title {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.form {
    display: inline-block;
    margin-bottom: 20px;
}

.label {
    font-family: 'Orbitron';
    font-size: 1rem;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.button {
    font-size: 1.5rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(45deg, #f093fb, #f5576c);
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    background: linear-gradient(251deg, #f093fb, #bcda5a);
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 500px;
}

/* 오류 메시지 스타일 */
.error {
    color: #ff4d4d;  /* 빨간색으로 설정하여 오류 메시지를 강조 */
    font-size: 1.1rem;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Orbitron';
}
