<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="imageboardSQL">
  
  <!-- 이미지 업로드 -->
  <insert id="imageboardWrite" parameterType="imageboard">
    INSERT INTO imageboard VALUES(seq_imageboard.nextval
    								, #{imageId}
    								, #{imageName}
    								, #{imagePrice}
    								, #{imageQty}
    								, #{imageContent}
    								, #{image1}
    								, sysdate)
  </insert>
  
  <select id="imageboardList" parameterType="java.util.Map" resultType="imageboard">
       <![CDATA[
         SELECT * FROM
         (SELECT ROWNUM rn, tt.* FROM
           (SELECT * FROM imageboard ORDER BY seq DESC) tt
         ) WHERE rn >= #{startNum} AND rn <= #{endNum}
       ]]>
     </select>

  <!-- 총 글수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from imageboard
	</select>
	
	
</mapper>