<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Chapter06_1</display-name>
  
  <servlet>
    <servlet-name>dispatcher</servlet-name> <!-- DispatcherServlet을 설정하기 위한 이름을 정의 -->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
    <!-- Spring MVC의 핵심 서블릿인 DispatcherServlet을 지정. 이 서블릿은 클라이언트로부터 요청을 받아 적절한 컨트롤러로 전달하고, 
    처리 후 적절한 뷰로 응답을 보내는 역할을 함. -->
    <init-param>
        <param-name>contextConfigLocation</param-name> 
        <!-- DispatcherServlet이 사용할 Spring 설정 파일의 경로를 정의. -->
        <param-value>
        			/WEB-INF/spring/appServlet/servlet-context.xml,
        			/WEB-INF/spring/appServlet/mvc-context.xml
        </param-value> 
        <!-- Spring MVC에서 필요한 빈 설정 파일의 위치를 지정. 이 파일에는 컨트롤러, 뷰 리졸버 등의 설정이 포함될 수 있음. -->
    </init-param>
</servlet>

<servlet-mapping>
    <servlet-name>dispatcher</servlet-name> 
    <!-- 위에서 정의한 DispatcherServlet에 대한 매핑을 설정. 이름은 동일해야 함. -->
    <url-pattern>*.do</url-pattern> 
    <!-- DispatcherServlet이 처리할 URL 패턴을 정의. 여기서는 ".do"로 끝나는 모든 요청을 이 서블릿이 처리하도록 설정. 
    예: "/login.do"와 같은 요청이 들어오면 DispatcherServlet이 이를 처리하게 됨. -->
</servlet-mapping>

<!-- 넘어오는 한글 파라메터 인코딩 -->
<filter>
    <filter-name>encodingFilter</filter-name> 
    <!-- CharacterEncodingFilter라는 필터를 설정하는 부분으로, 이 필터는 클라이언트로부터 전달되는 모든 요청과 응답에 대해 문자 인코딩을 설정하는 역할을 함. -->
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
    <!-- Spring에서 제공하는 CharacterEncodingFilter 클래스를 사용하여 모든 요청에 대해 지정한 문자 인코딩을 적용함. -->
    <init-param>
        <param-name>encoding</param-name> 
        <!-- 요청과 응답에 적용할 문자 인코딩을 지정. -->     
        <param-value>UTF-8</param-value> 
        <!-- UTF-8 인코딩을 지정함. UTF-8은 다양한 언어(특히 한글)를 올바르게 처리할 수 있도록 널리 사용되는 인코딩 방식임. 
        이를 통해 한글과 같은 다국어 문자 데이터를 올바르게 전송하고 처리할 수 있게 됨. -->
    </init-param>
</filter>

<filter-mapping>
    <filter-name>encodingFilter</filter-name> 
    <!-- 위에서 정의한 encodingFilter 필터를 매핑하는 부분으로, 필터 이름이 동일해야 함. -->   
    <url-pattern>/*</url-pattern> 
    <!-- 모든 요청 URL에 대해 이 필터를 적용하도록 설정. 즉, 모든 페이지 요청에 대해 UTF-8 인코딩이 적용됨. 
    "/login.do", "/signup.do" 등 어떤 경로가 오더라도 필터가 적용되며, 모든 요청과 응답에 대해 UTF-8로 인코딩이 설정됨. -->
</filter-mapping>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>